extends /includes/layout.pug

block head
    link(rel='stylesheet', href='/stylesheets/form.css')
    script(src='/scripts/form.js', defer)

block content
    form(method='post', action='').form
        block form