:root {
    --bg-color: #f8f9fa;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;

    background: var(--bg-color);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;

    transition: color 0.2s;
}